body{
  margin: 0;
  padding: 0;
  background-color: #423d3d;
}
.todo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    /* max-width: 1000px;
    margin-left: auto;
    margin-right: auto; */
}
.tope{
    display: flex;
    flex-direction: column;
    background-color: #101010;
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
    text-align: center;
}
h1{
    font-family: monospace;
    font-size: 8.8vh;
    margin: 0;
    padding: 0;
}
h2{
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #c9cbcf;
    width: 100%;
}
.gradiente {
    background-image: linear-gradient( 90deg,#ad46cc, #1b727e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: fit-content;
}
article{
    display: flex;
    flex-direction: column;
    background-color: #2b2727;
    padding: 0;
    width: 290px;
    height: auto;
    margin: 0 1.5rem; /* Aquí */
}
img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 20px 20px 0 20px;
}
h3{
    font-size: 28px;
    font-family: sans-serif;
    text-align: center;
    color: #1b727e;
    margin: 5px 0;
    padding: 0;
}
.info{
    font-family: sans-serif, cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    padding: 0px 17px 17px 17px;
    flex-grow: 1;
}
.precio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
p{
    margin: 3px;
    color: #c9cbcf;
}
.contenido{
    font-size: 13px;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #181616;
    border-radius: 10px;
    padding: 16px;
    color: #ad46cc;
    font-weight: bold;
}
.boton:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #101010;
    border-radius: 10px;
    padding: 16px;
    color: #1b727e;
    font-weight: bold;
}
a:link{
    -webkit-tap-highlight-color: transparent;
}